<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.askinmall.mapper.AdminMapper">

	<select id="adminLogin" resultType="com.askinmall.domain.AdminVO">
		select
			admin_id, admin_password, admin_login_date
		from
			admin_tb
		where
			admin_id = #{admin_id}		
	</select>


	<update id="now_visit">
		update
			admin_tb
		set
			admin_login_date = sysdate
		where
			admin_id = #{admin_id}		
	</update>


</mapper>  